body {
    background-color:black;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    height: 100%;
    
}
#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 2%;
    
    box-shadow:0px 0px 30px 20px #37383a
    /* sprawdz magin pozniej margin auto */
   
}
.top {
    width: 960px;
    margin:20px;
    text-align: center;
    

/* width 960 becouse margin will take 20 each side, and container width is 1000 height is neccessary 
as it will change/"grow" with all "blocks" */
}
.square {
    width: 50%;
    float: left;
    
}
#logo {
    float: left;
    font-family: "Saira", sans-serif;
    /* change font doesnt look good */
    font-size: 50px;
    width: 600px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#clock {
    float: left;
    font-family: "Saira", sans-serif;
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

/* colors for tiles  */
.tile1 {
   background-color: #1056c0;
}
.tile3 {   
    background-color: #1dca34; 
}  
.tile11 {
    background-color: #1056c0; 
}
.tile2 {
    background-color: #515351;
}


.tile11 span, .tile2 span, .tile3 span, .tile1 span{
    font-size: 16px; 
    
  }

.tile2, .tile3  {
    float: left;
    margin:10px;
    width: 230px;
    height: 142px; 
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tile11, .tile1 {
    float: left;
    margin:10px;
    width: 230px;
    height: 142px; 
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.tile1 i, .tile2 i, .tile3 i, .tile4 i, .tile11 i {
    font-size: 70px;
}

.tile4 {
    float: left;
    margin:10px;
    width: 480px;
    height: 142px; 
    background-color: #ce730a;
    border-radius: 1%;
}
.tile5 {
    margin:10px;
    width: 420px;
    height: 244px; 
    background-color: #0dbdb4;
    border-radius: 1%;
    text-align: justify;
    padding:30px;
}
.twitter, .linkedin, .gplus, .github {
    float:left;
    margin:10px;
    width: 105px;
    height: 142px; 
    background-color: #030303;
    font-size: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
}
/* clors for socials */
.linkedin {
    background-color: #0077B5;
}
.gplus  {
    background-color:#db4a39;
} 
.github  {
    background-color: #4078c0;
}
.bottom {
    text-align: center;
    padding: 5px;
    font-size: 15px;
    

}
a.tilelink{
    color:#ffffff;
    text-decoration: none;
}

/* thigs to do: 
1. clock -java script - under clock <p>It's high time..<p> 
2. left tiles - hover - or something like that then dispaly in tile tile5 (main)
