body {
    background-color:black;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    height: 100%;
    
}
#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto; 
    
    box-shadow:0px 0px 30px 20px #37383a
    /* sprawdz magin pozniej margin auto */
   
}
.top {
    width: 960px;
    margin:20px;
    text-align: center;

/* width 960 becouse margin will take 20 each side, and container width is 1000 height is neccessary 
as it will change/"grow" with all "blocks" */
}
.square {
    width: 50%;
    float: left;
    
}
#logo {
    float: left;
    font-family: "Saira", sans-serif;
    /* change font doesnt look good */
    font-size: 50px;
    width: 600px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#clock {
    float: left;
    font-family: "Saira", sans-serif;
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}
.tile1 {
    float: left;
    margin:10px;
    /* those two will take 500px so divide on half will be 250 but set margin 10px will take 20px so width can be 230px  */
    width: 230px;
    height: 142px; 
    background-color: #1056c0;
}
.tile2 {
    float: left;
    margin:10px;
    /* those two will take 500px so divide on half will be 250 but set margin 10px will take 20px so width can be 230px  */
    width: 230px;
    height: 142px; 
    background-color: #515351;
}
.tile3 {
    float: left;
    margin:10px;
    width: 230px;
    height: 142px; 
    background-color: #1dca34;
}
.tile4 {
    float: left;
    margin:10px;
    width: 480px;
    height: 142px; 
    background-color: #ce730a;
}
.tile5 {
    float: left;
    margin:10px;
    width: 480px;
    height: 304px; 
    background-color: #0dbdb4;
}
.twitter  {
    float:left;
    margin:10px;
    width: 105px;
    height: 142px; 
    background-color: #030303;
    font-size: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.linkedin {
    float:left;
    margin:10px;
    width: 105px;
    height: 142px; 
    background-color: #0077B5;
    font-size: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.gplus  {
    float: left;
    margin:10px;
    width: 105px;
    height: 142px; 
    background-color:#db4a39;
    font-size: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.github  {
    float: left;
    margin:10px;
    width: 105px;
    height: 142px; 
    background-color: #4078c0;
    font-size: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom {
    text-align: center;
    padding: 5px;
    font-size: 15px;

}